html {
  background-color: #111222;
  color: #ffdf00;
  font-family: Comic sans-serif;
  max-width: 800px;
}
h1{
  font-size: 76px;
  position: relative;


}
#centerBoi
{
  position:relative;
  top: 600px;
  left: 500px;

}
#image
{
  position: absolute;
  height: 95%;
  width: 95%;
}
#ImageBoi
{
  position: relative;
  width: 200px;
  length: 180px;
}
#imh
{
  background-image: url('/static/Assets/cave-1566591820830-2932.jpg');
  position: absolute;
  height: 95%;
  width: 95%;
}
