<!DOCTYPE>
<html>
<head>
  <title>Login Screen</title>
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  
  <section>
    <!-- Form with POST method -->
    <form method="post" action="/game">
      <section>
        <h1> Welcome to the Game </h1>
        <img id= "image" src="http://i.imgur.com/zGeyfN1.jpg">
      </section>

      <div>
        <!-- Input for "Username" -->
        <label id="centerBoi" for="username">UserName</label>
        <br>
        <input id="centerBoi" type="text" name="username">
      </div>
      <div>
        <!-- Input for "Password" -->
        <label id="centerBoi" for="password">Password</label>
        <br>
        <input id="centerBoi" type="text" name="password">
      </div>
      <div>
      <!-- Submit button -->
      <input id="centerBoi" type="submit">
    </form>
  </section>
  <script src="#possible js"></script>
</body>
</html>
